%div.doctor-details<
  %h3 Doctor Details

  %article<
    %div.row<
      %label<
        %b Name

      %span= doctor_name

    %div.row<
      %label<
        %b Qualification

      %span= doctor_qualification

    %div.row<
      %p= back_to_doctors_listing_link
